<!-- @format -->

<!--hero-->
<div class="row hero d-flex flex-column-reverse flex-lg-row overflow-hidden">
  <div class="left col-12 col-lg-5 d-flex flex-column justify-content-center">
    <h3>ẨM THỰC</h3>
    <h1>VIỆT NAM</h1>
    <p>
      Thưởng thức hương vị Việt Nam ngay hôm nay <br />
      với dịch vụ giao đồ ăn tiện lợi và đáng tin cậy của chúng tôi.
    </p>

    <div class="col-12">
      <a href="#promotion">
        <button>Khám phá <i class="fa-solid fa-chevron-right"></i></button>
      </a>
    </div>
  </div>

  <img
    class="right col-md-12 col-lg-7"
    src="./../images/comtam.jpeg"
  />
</div>

<!--  -->
<!--/*promotion*/-->
<div
  class="new"
  id="promotion"
>
  <!-- Hot deal title -->
  <div
    class="title col-12 d-flex flex-column justify-content-center align-items-center rounded-end-pill"
    id=""
    style="height: 170px"
  >
    <h3>Ưu đãi</h3>
    <h5>Hôm nay</h5>
  </div>
  <div id="promotion-items" class="row d-flex justify-content-center align-items-center">
   
  </div>
  <div class="d-flex justify-content-center align-items-center mt-5">
    <div
      class="rounded-circle mx-1"
      style="background-color: #d35343; height: 13px; width: 13px"
    ></div>
    <div
      class="rounded-circle mx-1"
      style="background-color: #edead6; height: 13px; width: 13px"
    ></div>
    <div
      class="rounded-circle mx-1"
      style="background-color: #edead6; height: 13px; width: 13px"
    ></div>
  </div>
</div>

<!--menu-->
<div
  id="menu"
  class="row menu mt-5 pt-5 d-flex justify-content-center position-relative"
>
  <div
    class="menuTitle col-12 col-sm-4 col-md-3 d-flex justify-content-center position-absolute top-0 start-0 p-5"
  >
    <h3>Chọn bữa ăn của bạn</h3>
  </div>

  <div class="menublockitem col-12 col-sm-4 col-lg-3"></div>
</div>
